.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.logo {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase; /* 全大写，可选 */
  color: white;
}

.about-section {
  margin-top: 40px;
  max-width: 800px;
}

.about-title {
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 500;
  color: #aaa;
  margin-bottom: 20px;
}

.about-text {
  font-size: 15px;
  line-height: 1.6;
  color: #fff; /* 或者用 #ddd */
  font-weight: 400;
}
